<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LandingPage</title>
    <!--    <script src="plotly-latest.min.js"></script>-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<!--<p>This is the landing page of our site</p>-->
<!--<p>Since this is a guest site, we will not display anything here.</p>-->
<!--<p>But, you can login here</p>-->
<!--<button type="submit">Login</button>-->
<h1 style="text-align: center">Welcome to Sentiment Analysis WebApplication</h1>

<form action="/output" method="POST">
    <h2><label for="search word">Enter a search text:</label></h2>
    <input id="search word" name="search word" placeholder="Donald Trump" type="text">
    <h2><label for="date">Enter a date: </label></h2>
    <input id="date" name="date" type="date">
    <!--    <h2><label for="location">Enter a location: </label></h2>-->
    <!--    <select id="location" name="location">-->
    <!--        <option value="world">Global</option>-->
    <!--        {# % for country in country_list % #}-->
    <!--        <option value="{# {country} #}">{# { country_list[country][1] } #}</option>-->
    <!--        {# % endfor % #}-->
    <!--    </select>-->
    <p><input type="submit" value="Generate Graph"></p>
</form>

{% if prediction %}
<div id="myDiv">
    <script>
        var testtest = {
        {
            test | safe
        }
        }
        // console.log(testtest);
        var layout = {
            height: 600,
            width: 500
        };
        Plotly.newPlot("myDiv", testtest, layout);
    </script>
</div>
{% for prediction in logr_prediction %}
{{ query_tweet[loop.index-1] }} - {{ prediction }}<br>
{% endfor %}
{% endif %}

</body>
</html>